# QUALYS_LAUNCH_MODE
## 1 - Get secrets and variables from this file
## 2 - Get secrets and variables from Github Environments configuration
## 3 - Get secrets and variables from Delinea DevOps Secrets Vault
QUALYS_LAUNCH_MODE=1

QUALYS_SCANNER_TYPE='EXTERNAL'

QUALYS_URL='https://qualysapi.qg4.apps.qualys.com'
QUALYS_USER='your Qualys user'  
QUALYS_USER_PASS='your Qualys password'

QUALYS_PROJECT_NAME='Project name'
QUALYS_WEBAPP_ID='The app ID nmber' 
QUALYS_OPTION_PROFILE_ID='The option profile number'

QUALYS_SEND_REPORT=1
QUALYS_ENCRYPT_REPORT=1
QUALYS_REPORT_PASS='The password of the reports. Left blank if you dont want to protect it. ;)'
QUALYS_REPORT_RECEIVERS="email1@gmail.com, email2@hotmail.com, email3@yahoo.com"